.button {
  padding: 0.75em 1.5em;
  text-transform: uppercase;
  letter-spacing: 0.05em;

  background: var(--button-background);
  color: var(--button-text);

  border: 1px solid currentColor;
  border-radius: 0.5em;
  cursor: pointer;
}

.button:is(:hover, :focus-visible) {
  background: var(--button-background-hover);
  color: var(--button-text-hover);
}
