.card {
  --_padding: 2em;
  --_background: var(--clr-neutral-100);
  --_text: var(--clr-neutral-400);
  --_border: hsl(var(--clr-neutral-200-hsl), 0.5);

  padding: var(--_padding);
  background: var(--_background);
  text-align: center;
  width: min(100% - 2rem, 22.5rem);
  border-radius: 0.75em;
  color: var(--_text);

  /* for demo only */
  margin: 2rem;
}

.featured {
  --_padding: 4em 2em;
  --_background: var(--gradient-primary);
  --_text: var(--clr-neutral-100);
  --_border: hsl(var(--clr-neutral-100-hsl), 0.5);
}

.cardTitle {
  font-size: var(--fs-500);
}

.cardPriceWrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.15em;
  font-size: var(--fs-700);
  line-height: 1.1;
}

.cardPrice {
  font-size: var(--fs-900);
}

.cardFeatures li {
  padding-block: 1em;
  border-top: 1px solid var(--_border);
}

.cardFeatures li:where(:last-child) {
  border-bottom: 1px solid var(--_border);
}
