:root {
  --clr-primary-300-hsl: 236, 72%, 79%;
  --clr-primary-400-hsl: 237, 63%, 64%;

  --clr-neutral-100-hsl: 240, 78%, 98%;
  --clr-neutral-200-hsl: 234, 14%, 74%;
  --clr-neutral-300-hsl: 233, 13%, 49%;
  --clr-neutral-400-hsl: 232, 13%, 33%;

  --clr-primary-300: hsl(var(--clr-primary-300-hsl));
  --clr-primary-400: hsl(var(--clr-primary-400-hsl));

  --clr-neutral-100: hsl(var(--clr-neutral-100-hsl));
  --clr-neutral-200: hsl(var(--clr-neutral-200-hsl));
  --clr-neutral-300: hsl(var(--clr-neutral-300-hsl));
  --clr-neutral-400: hsl(var(--clr-neutral-400-hsl));

  --gradient-primary: linear-gradient(
    135deg,
    var(--clr-primary-300),
    var(--clr-primary-400)
  );

  --ff-primary: "Montserrat", sans-serif;

  --fw-regular: 700;

  --fs-400: 0.9375rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem;
  --fs-700: 2rem;
  --fs-800: 3rem;
  --fs-900: 4rem;

  --button-background: var(--gradient-primary);
  --button-background-hover: transparent;
  --button-text: var(--clr-neutral-100);
  --button-text-hover: var(--clr-primary-400);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font: inherit;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
  margin: 0;
  padding: 0;
}

/** @see https://andy-bell.co.uk/a-modern-css-reset/ */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

body {
  min-height: 100vh;

  font-family: var(--ff-primary);
  font-size: var(--fs-400);
  font-weight: var(--fw-regular);

  background-color: hsl(var(--clr-neutral-200-hsl), 0.5);
  color: var(--clr-neutral-400);

  display: grid;
  place-items: center;
  padding-block: clamp(2rem, 5vw, 4rem);
}

.grid-flow {
  display: grid;
  align-content: start;
  gap: 1rem;
}

.grid-flow[data-spacing="large"] {
  gap: 2rem;
}

.flex-group {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.site-title {
  font-size: var(--fs-800);
}

.cards {
  display: grid;
  gap: 2rem;
  width: min(100% - 2rem, 70rem);
  margin-inline: auto;
}

@media (min-width: 70em) {
  .cards {
    align-items: center;
    grid-template-columns: repeat(3, minmax(22.5rem, 1fr));
    gap: 0 !important;
  }
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}
